{% if subject -%}Made {{n}} user change(s) in [Booked Scheduler](https://reserve.protohaven.org){%- else -%}{% for c in changes  -%}* {{c}}
{% endfor -%}{% if footer is defined -%}{{footer}}{%- endif %}{%- endif %}
