{% if subject %}Created {{num}} discount codes{% else %}{{cur_qty}} of {{target_qty}} codes were available to use with a best-by date of at least {{use_by}}, so {{num}} additional codes were created.
{{footer}}{% endif %}
