{% if subject %}Discord Role Automation Summary{% else %}* Sent DMs to {{n}} users regarding Discord role changes: {{users|join(', ')}}
* Assigned {{roles_assigned}} role(s) and revoked {{roles_revoked}} role(s) (see [pending revocations](<https://airtable.com/appZIwlIgaq1Ps28Y/tblBgXQlOFjNqvBVm>))
{{footer}}
{% endif %}
