{% if subject -%}@TechLeads: {{num}} donation(s) awaiting a decision:{%- else -%}
{% for r in requests -%}{{r}}
{% endfor -%}See the [Asana project](https://app.asana.com/0/1204106742735251/1205117398971693) for full details.
{% if footer is defined -%}{{footer}}{%- endif %}{%- endif %}
