{% if subject %}
{{shifts|length}} upcoming shift(s) urgently need techs
{% else %}
@Techs: the following shift(s) have **no techs assigned** and are 3 or fewer days away:

{% for s in shifts %}
- **{{s.date}} {{s.shift}}** ({% if s.days_away == 0 %}today{% else %}in {{s.days_away}} day(s){% endif %})
{% endfor %}

Please sign up urgently if you can cover any of these shifts.
[View full schedule](https://api.protohaven.org/techs#cal)
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
