{% if subject %}
{{shifts|length}} upcoming shift(s) have no techs assigned
{% else %}
@TechLeads: the following shift(s) have **no techs assigned** and are 7+ days away:

{% for s in shifts %}
- **{{s.date}} {{s.shift}}** (in {{s.days_away}} day(s))
{% endfor %}

Please help recruit techs for these shifts.
[View full schedule](https://api.protohaven.org/techs#cal)
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
