{% if subject %}
{{shift.date}} {{shift.shift}} (in {{shift.days_away}} day(s)) has nobody on duty
{% else %}
The shift scheduler believes that this is not an expected closure/holiday. @Techs and @TechLeads: please sign up urgently if you can cover this shift.
[View full schedule](https://api.protohaven.org/techs#cal)
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
