{% if subject %}
{{shift.date}} {{shift.shift}} (in {{shift.days_away}} day(s)) has no techs assigned.
{% else %}
@TechLeads: Please help recruit techs for this shift. A followup message will be sent to #techs as the shift day draws near.
[View full schedule](https://api.protohaven.org/techs#cal)
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
