{# html #}
{% if subject %}
{{fname}}: your first class is on us!
{% else %}
Hi, {{fname}}!
<p>
We're excited to have you join us at Protohaven, and we're sure you're excited to start making things - that's why we're giving you a coupon code for a free class!
</p>
<p>
<strong>{{coupon_code}}</strong>
</p>
<p>
The code above is good for one free class up to ${{coupon_amount}}; this covers all our basic classes. Just add that code when you go to sign up online at https://protohaven.org/classes.
</p>
{% if sample_classes %}
<p>
Here's a couple basic classes with open seats that you can register for today:
<ul>
{% for l in sample_classes %}
  <li><a href="https://protohaven.org/e/{{l.id}}" target="_blank">{{l.date.strftime('%A %b %-d, %-I%p')}}: {{l.name}}{% if l.remaining < 3 %} ({{l.remaining}} seat{% if l.remaining != 1 %}s{% endif %} left!){% endif %}</a></li>
{% endfor %}
</ul>
</p>
{% endif %}
<p>Your membership will be activated on your next visit to the shop. Hope to see you soon!</p>
<p>
- Protohaven Staff
</p>
{% endif %}