{% if subject -%}{{num}} Private Instruction Request(s) Active{%- else -%}{{num}} request(s) are active for private instruction (showing {{formatted|length}}):
{% for f in formatted  -%}{{f}}
{% endfor -%}
Please go to [Asana](https://app.asana.com/0/1203922725251220/1207896962249498) and check off any requests that have already been handled, and raise the rest to the instructors to fulfill.{%- endif %}
