{% if subject %}Open instructor applications:{% else %}The following applicants are
[waiting for a decision](https://app.asana.com/0/1202211433878591):
{% for a in open_applicants %}{{a}}
{% endfor %}{{footer}}{% endif %}
