{% if subject %}@Staff: Action Required for Membership Validation{% else %}{{problems|length}} membership validation problem(s) found:
{% for p in problems %}- {{p.name}} ([#{{p.account_id}}](https://protohaven.app.neoncrm.com/admin/accounts/{{p.account_id}})): {{p.result}}
{% endfor %}
Please remedy by following the instructions [here](https://protohaven.org/wiki/software/membership_validation)
{{footer}}
{% endif %}
