{# html #}{% if subject -%}{{fname}}: your membership is now active.{%- else -%}Hi, {{fname}}!
<p>
We just received notice that you visited the shop today - as a result, <strong>your membership has been activated</strong>.
</p>
<p>
Just a reminder: memberships are billed monthly and can be canceled at any time by emailing us at membership@protohaven.org. Please also contact us if you have any questions or concerns.
</p>
<p>
Thank you!
</p>
<p>
- Protohaven Staff
</p>
{%- endif %}
