{# html #}
{% if subject %}
{% if rm_clearance|length > 0 %}
Clearances are due for recertification and are temporarily revoked
{% elif new_pending|length > 0 %}
ACTION NEEDED: Clearances will soon be due for recertification
{% else %}
Recertification update
{% endif %}
{% else %}
<p>
Hi {{fname}},
</p><p>
You previously earned clearances for one or more tools that require periodic recertification.
</p><p>
Recertification ensures all members are prepared to use Protohaven equipment without harm to themselves, to the equipment, or to other members around them. We also use this process to spread changes to our policies and tools (such as when a tool is replaced by a different model).
</p>

{% if rm_clearance|length > 0 %}
<p>
<strong>Your clearance for the following tools have been revoked</strong> until you complete the recertification process:
<ul>
{% for r in rm_clearance %}
<li>{{r.tool_name}}: Last earned {{r.last_earned.strftime('%Y-%m-%d')}}, due on {{r.due_date.strftime('%Y-%m-%d')}}</li>
{% endfor %}
<ul>
</p>
{% endif %}

{% if new_pending|length > 0 %}
<p>
<strong>The following tools will soon be due for recertification:</strong>
<ul>
{% for r in new_pending %}
<li>{{r.tool_name}}: Last earned {{r.last_earned.strftime('%Y-%m-%d')}}, due on {{r.due_date.strftime('%Y-%m-%d')}}</li>
{% endfor %}
</ul>
When the due date has passed, your clearance will be revoked for that tool until you've completed recertification.
</p>
{% endif %}

{% if rm_pending|length > 0 %}
<p>
<strong>We've recorded your recertification on the following tools:</strong>
<ul>
{% for r in rm_pending %}
<p>{{r.tool_name}}: earned on {{r.last_earned.strftime('%Y-%m-%d')}}, next due {{r.next_deadline.strftime('%Y-%m-%d')}}</p>
{% endfor %}
</ul>
</p>
{% endif %}

<p>
<strong>To maintain or regain clearances, please <a href="https://api.protohaven.org/member" target="_blank">click here</a></strong> and follow the instructions for each tool before the listed due date.
</p>

<p>
On behalf of all our members, thank you for helping us maintain a safe and useful shop!
</p>

<p>
- Protohaven Staff
</p>
{% endif %}
