{% if subject -%}Confirm class schedule{%- else -%}Hello, {{title}}!

We have a new set of potential classes for you to teach, and we are looking for your confirmation:
{% for f in formatted  -%}{{f}}
{% endfor -%}
Confirm the classes you would like to teach ASAP by going to http://api.protohaven.org/instructor/class.

Please note:
 - Some classes may overlap in time; just pick whichever you prefer
 - Not all classes you confirm will be scheduled
 - Not all classes that are scheduled will fill up.

We will schedule your confirmed classes in the next few days.

Thank you!
{%- endif %}
