{% if subject %}
{{shift}} shift has no signed in techs
{% else %}
@TechLeads: no techs assigned for {{shift}} have signed in. [Expecting](https://api.protohaven.org/techs#cal) any of:

{% for t in onduty  %}
- {{t.name}} ({{t.email}})
{% endfor %}

Please check immediately for techs on duty.
{% if footer is defined %}

{{footer}}
{% endif %}
{% endif %}
