{% if subject %}
@TechLeads, {{num}} open shop tech applications are waiting for a decision.
{% else %}
Please take action via the [Asana project](https://app.asana.com/0/1203664351777333).

{{footer}}
{% endif %}
