{% if subject %}{{firstname}}: your protohaven membership has been reinstated{% else %}Hello {{firstname}},

Your membership suspension has been lifted and your membership is now reinstated.

If you have any additional questions, please send them to hello@protohaven.org.

Welcome back to the shop!
Protohaven Automation{% endif %}
