{% if subject %}
{{salutation}} {% if new_count > 0 %}
Today we have {{new_count+1}} tech_ready tasks:
{% else %}
We're caught up on scheduling new tasks, but we still have work to do:
{% endif %}
{% else %}
{% for t in new_tasks %}
- [{{ t['name'] }}](https://app.asana.com/0/1202469740885594/{{ t['gid'] }})
{% endfor %}
- [Shop & Maintenance Tasks](https://app.asana.com/0/1202469740885594/1204138662113052) - please help with `TECH_READY` and `TRAINING_REQUIRED` as you're able.
{% if am_tech_discord != [] or pm_tech_discord != [] %}

-AM Shift: {{am_tech_discord|join(', ')}}
-PM Shift: {{pm_tech_discord|join(', ')}}
{% endif %}

{{closing}}
{% endif %}
