{# html #}{% if subject -%}{{fname}}: please verify your income{%- else -%}Hey {{fname}},
<p>
Thanks for signing up for a membership through our Access to Making Program (AMP)!
<p>
<p>
As described on our <a href="https://www.protohaven.org/membership/" target="_blank">membership page</a>, AMP membership rates are based on household size and income. <strong>Valid proof of income must be on file with us before your membership can be activated.</strong>
</p>
<p>
Examples of valid proof of income include:
</p>
<p>
  <ul>
    <li>A tax return statement from the prior year</li>
    <li>A pay stub, IRS 1099 or W2 tax form</li>
    <li>Unemployment verification letter or statement of unemployment</li>
  </ul>
</p>
<p>
<strong>Please send valid proof of income to <a href="mailto:membership@protohaven.org">membership@protohaven.org</a> and receive confirmation that your income information has been added to your account BEFORE your first visit to the shop</strong>. We look forward to seeing you soon!
</p>
<p>
- Protohaven Staff
</p>
{%- endif %}
