{% if subject %}{{n}} volunteer membership(s) refreshed:{% else %}{% for s in summary  %}* [#{{s.account_id}}](https://protohaven.app.neoncrm.com/admin/accounts/{{s.account_id}}) {{s.fname}} {{s.lname}} with current membership expiring {{s.end_date}}: new {{s.membership_type}} membership [#{{s.membership_id}}](https://protohaven.app.neoncrm.com/np/admin/account/membershipDetail.do?id={{s.membership_id}}) expires {{s.new_end}}
{% endfor %}
{% if footer is defined %}{{footer}}{% endif %}{% endif %}
