Hi {{firstname}},

Get excited! Your class {{classname}} has {{signups}} student{% if signups != 1 %}s{% endif %} and will be running on {{evt_date}}.

If you have any questions, please reach out to education@protohaven.org.

Hope to see you in the shop soon!
- Protohaven Staff
