Hi {{firstname}},

Thanks for agreeing to teach {{classname}} on {{evt_date}}.

This is an automated reminder that you need to confirm there's adequate supplies at Protohaven to run your class.

Please check the class supply room, then visit https://api.protohaven.org/instructor/class and click either "Supplies Needed" or "Supplies OK" to indicate the supply state of your class.

If supplies are needed, make sure to submit a New Request via the same page or else they won't be purchased.

Thanks!
 -Protohaven Automation
