Hi {{firstname}},
Thanks for your continued involvement at Protohaven!

We will be scheduling classes very soon for the period of {{start}} through {{end}}.

Please take the following steps ASAP so we can schedule your classes:

1. Click the calendar link below to open it in a new tab. It will open as read-only.

2. Click the "+Google Calendar" link at the very bottom right of the page to add it to your google calendar for editing.

3. Create calendar events describing your availability. It's important to use just your full name ({{name}}) for the event name, and to set the date and time appropriately via the input boxes.

4. Before saving your events, confirm you're adding it to the "Instructor Availability" calendar (the drop down is right below the "Add notification" button).

Note that not all of your available times will be scheduled - and you'll get a chance to confirm specific proposed classes before they're made public.

You can find the calendar link at the top of your Instructor Dashboard: https://api.protohaven.org/instructor/class

If you need any help or have any questions, please reach out on the #instructors discord or to education@protohaven.org.

Thanks!
 -Protohaven Automation
