There's {{n}} class{% if n != 1%}es{% endif %} available for backfill in the next 24 hours:
{% for evt in events %}
 - {{evt.start}} - {{evt.name}} ({{evt.avail}} seat{% if evt.avail != 1 %}s{% endif %} available, ${{evt.supply_cost}} cost): https://protohaven.app.neoncrm.com/eventReg.jsp?event={{evt.id}}&
{% endfor %}
You can pay at the front desk via Square (select "Walk-In (3 Hr Class / add price)", set to the cost listed above, charge as normal)

Reply to this message if you're interested in filling a slot. First come, first served!
