A member with neon ID {{neon_id}} violated our shop policies in a manner requiring suspension, per procedure at https://protohaven.org/wiki/policies/procedure.

Please suspend their account by going to https://protohaven.app.neoncrm.com/admin/accounts/{{neon_id}} and changing their membership start date to {{end}}.

Thanks for taking action!
Protohaven Automation
