{% if subject %}Proposed classes awaiting approval:{% else %}The following classes are [proposed, but not yet approved](https://airtable.com/applultHGJxHNg69H/tblBHGwrU8cwVwbHI/) for scheduling:
{% for u in unapproved %}{{u}}
{% endfor %}{% endif %}
