{% if subject %}{{firstname}}: please schedule your classes!{% else %}Hi {{firstname}} - thanks for your continued involvement at Protohaven.

We need your help to keep our schedule full for {{start}} through {{end}}! Please take a couple minutes right now and ensure your schedule is set for this period:

1. Login to https://api.protohaven.org/instructor/class.

2. Click on the "Scheduler" button at the bottom of the profile panel.

3. If needed, adjust your scheduling window, availability, and classes to include, then click "Run Scheduler"

4. Uncheck any classes you don't wish to run, then click "Save proposed classes".

If there are no conflicts with other instructor proposed classes or events, the proposed classes you saved should change to "published" within 3-4 days and be available for registration. You'll receive an email when this happens.

There's also a full how-to video on scheduling classes available here: https://youtu.be/wKtX1DR0Xmw

If you need any help or have any questions, please reach out on the #instructors discord or to education@protohaven.org.

Thanks!
 -Protohaven Automation
 {% endif %}
