{% set evt_date = evt.python_date.strftime("%B %-d") %}{% set avail = evt.capacity - evt.signtups %}{% if subject %}{{evt.name}} on {{evt_date}} - help us find {{avail}} more student(s)!{% else %}Hi {{evt.instructor_firstname}}

Thanks for agreeing to teach {{evt.name}} on {{evt_date}}! To maximize your impact, we need your help to find {{avail}} additional student{% if avail != 1 %}s{% endif %} to take the class.

There are a couple easy ways to do this:

 - Post about your class on social media (Instagram, Facebook, etc.) to raise awareness.
 - Share your excitement in teaching a class to friends, family, coworkers, and anyone else you meet, and encourage them to sign up!

If you have any additional ideas for getting the word out there, please post them in the #instructors channel of our Discord.

Thanks for supporting Protohaven as an instructor. Happy teaching!

 -Protohaven Automation
 {% endif %}
