{% if subject %}Your class '{{classname}}' is on for {{evt_date}}!{% else %}Hi {{firstname}},

Get excited! Your class {{classname}} {% if signups > 1 %}has {{signups}} total students, and {% endif %}will be running on {{evt_date}}
{% if capacity > 0 and days > 1 %}
We still have {{capacity-signups}} seat{% if (capacity-signups) != 1 %}s{% endif %} left, so invite your friends!
{% endif %}
Please remember to wear appropriate clothing for the activity - this usually means close-toed shoes, with any long sleeves or hair pulled back.

If you have any questions, please reach out to education@protohaven.org.

Hope to see you in the shop soon!
- Protohaven Staff
{% endif %}
