{% if subject %}New classes for tech backfill:{% else %}@Techs: There's {{n}} class{% if n != 1%}es{% endif %} available for backfill in the next 24 hours:
{% for evt in events %}
 - {{evt.start.strftime("%B %-d, %-I%p)}} - {{evt.name}} ({{evt.capacity - evt.signups}} seat{% if evt.capacity - evt.signups != 1 %}s{% endif %} available, ${{evt.supply_cost or 0}} cost): https://protohaven.app.neoncrm.com/eventReg.jsp?event={{evt.id}}&
{% endfor %}
You can pay at the front desk via Square (select "Walk-In (3 Hr Class / add price)", set to the cost listed above, charge as normal)

Reply to this message if you're interested in filling a slot. First come, first served!
{% endif %}
