Sent DMs to {{n}} users regarding Discord role changes: {{users|join(', ')}}
Assigned {{roles_assigned}} role(s) and revoked {{roles_revoked}} role(s).
See [pending revocations](<https://airtable.com/appZIwlIgaq1Ps28Y/tblBgXQlOFjNqvBVm>), [full logs](<https://www.api.protohaven.org:3013/#History?sub=event_history&id=elzsp1fmpsk>)
