<html>
  <head>
  </head>
  <body>
    <div>
    <label for="emails">Emails (separated with commas)</label><br/>
    <input type="text" id="emails" value="smartin015@gmail.com"></input>
    </div>
    <div>
    <label for="clearances">Clearances (codes separated with commas, eg. "LS1,WDS")</label><br/>
    <input type="text" id="clearances"></input>
    </div>
    <div>
    <button id="get">Get</button>
    <button id="add">Add</button>
    <button id="rm">Remove</button>
    </div>
    <div id="output"></div>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
      const URL = "/user/clearances";
      function getData() {
        return {
          "emails": $("#emails").val(),
          "codes": $("#clearances").val(),
        };
      }
      $("#add").click(function() {
          $.ajax(URL, {
            data: getData(),
            method: "PATCH",
          }).done((result) =>  {
            console.log(result);
            $("#output").text("OK");
          }).fail(() => alert("error"));
      });
      $("#rm").click(function() {
          $.ajax(URL, {
            data: getData(),
            method: "DELETE",
          }).done((result) => {
            console.log(result);
            $("#output").text("OK");
          }).fail(() => alert("error"));
      });
      $("#get").click(function() {
          $.get(URL, getData()).then((data) => {
            console.log(data);
            $("#output").text(JSON.stringify(data));
          });
      });
    </script>
  </body>
</html>
