<html>
  <head>
    <title>Protohaven Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.jpg">
    <link rel="stylesheet" href="/static/css/dashboard.css">
  </head>
  <body>
    <div class="header">
      <img src="/static/img/logo_color.webp"></img>
    </div>
    <div>
    <a href="/logout">Logout</a>
    </div>
    <div class="content">
      <h1>{{fullname}} ({{email}}, id {{neon_id}})</h1>
      <div class="linktables">
        <div class="linktable">
          <h2>General</h2>
          <ul>
            <li><a href="/events">All upcoming events and registrants</a></li>
          </ul>
        </div>
        {% for role in roles %}
        <div class="linktable">
          <h2>{{role}} Links</h2>
          <ul>
            {% if role == 'Instructor' %}
            <li><a href="/instructor/class">Manage your classes and accept new ones</a></li>
            {% elif role == 'Onboarding' %}
            <li><a href="https://protohaven.org/wiki/clearance_crew">Wiki Guide</a></li>
            <li><a href="/onboarding">Onboarding wizard</a></li>
            {% elif role == 'Shop Tech' %}
            <li><a href="/shop_tech/profile">Your Profile</a></li>
            <li><a href="/shop_tech/handoff">End of Shift Report</a></li>
            {% elif role == 'Shop Tech Lead' %}
            <li><a href="/tech_lead/techs_clearances">Tech clearance leaderboard</a></li>
            {% elif role == 'Admin' %}
            <li><a href="/admin/user_clearances">Change User Clearances</a></li>
            {% endif %}
          </ul>
        </div>
        {% endfor %}
      </div>
      <h4>Your Clearances</h4>
      <div class="clearances">
      {% for clr in clearances %}
        <div>{{ clr }}</div>
      {% endfor %}
      </div>
      <pre style="display:none">{{neon_json}}</pre>
    </div>
  </body>
</html>
