<html>
  <head>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <style>
      .schedule_class {
        padding: 5px;
        margin: 5px;
        border: 1px gray solid;
      }
      .schedule_class.unscheduled {
        font-color: #333;
      }
      .schedule_class.scheduled {
        background-color: #EEEEFF;
      }
      #schedule {
        min-width: 600px;
      }
      #schedule td {
        padding: 5px;
        margin: 5px;
        border: 1px gray solid;
				vertical-align: top;
      }
    </style>
  </head>
  <body>
    <h2>Upcoming Tours and Events</h2>
    <ul>
    {% for name, start in shop_events %}
    <li>{{start.strftime("%B %-d %-I:%M %p")}}: {{name}}</li>
    {% endfor %}
    </ul>
    <h2>Today's Reservations</h2>
    <ul>
    {% for r in reservations %}
    <li>{{r['resource']}}: {{r['start']}} - {{r['end']}} by {{r['name']}}</li>
    {% endfor %}
    </ul>
    <h2>Classes</h2>
    <div>
      As of {{now.strftime("%B %-d %-I:%M %p")}}.
    </div>
    <p><strong>NOTE: Multi-day classes are only shown by their start date</strong></p>

    <table id="schedule">
      <thead>
        <tr>
          <th>Event</th>
	  <th>Instructor</th>
          <th>Start Date</th>
          <th>Start Time</th>
          <th>End Date</th>
	  <th>End Time</th>
          <th>Attendees</th>
          <th>Capacity</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr id="{{event['id']}}">
          <td>{{event['name']}}</td>
	  <td>{{event['instructor']}}</td>
          <td style="text-align: right">{{event['start_date']}}</td>
          <td style="text-align: right">{{event['start_time']}}</td>
          <td style="text-align: right">{{event['end_date']}}</td>
          <td style="text-align: right">{{event['end_time']}}</td>
          <td class="attendees">Loading...</td>
          <td>{{event['capacity'] or ""}}</td>
          <td>{{ "Registration open" if event['registration'] else "Registration closed"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br/>
  </body>
  <script>
    $("tr").each(function(i, tr) {
      console.log(tr);
      let eid = $(tr).attr("id");
      console.log(eid);
      if (!eid) {
        return;
      }
      console.log(eid);
      let a = $(tr).find(".attendees")[0];
      $.get("/events/attendees?id=" + eid).done(function(data) {
        $(a).html(data);
      });
    });
  </script>
</html>
