<html>
<style>
  td {
    padding: 5px;
    border: 1px gray solid;
  }
  th {
    padding-left: 10px;
    padding-right: 10px;
  }
</style>
  <body>
    <table>
      <thead>
        <th>Neon ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Discord User</th>
        <th>Membership</th>
        <th>Capabilities</th>
        <th>Schedule</th>
      <thead>
      <tbody>
        {% for e in results %}
        <tr>
          <td>{{e['neon_id']}}</td>
          <td>{{e['fullname']}}</td>
          <td>{{e['email']}}</td>
          <td>{{e['discord_user']}}</td>
          <td>{{e['active_membership']}}</td>
          <td>{{e['capabilities_listed']}}</td>
          <td>{{e['in_calendar']}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
