<html>
  <head>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <style>
      .schedule_class {
        padding: 5px;
        margin: 5px;
        border: 1px gray solid;
      }
      .schedule_class.unscheduled {
        font-color: #333;
      }
      .schedule_class.scheduled {
        background-color: #EEEEFF;
      }
      #schedule {
        min-width: 600px;
      }
      #schedule td {
        padding: 5px;
        margin: 5px;
        border: 1px gray solid;
				vertical-align: top;
      }
      #schedule th {
        padding: 25px;
      }
    </style>
  </head>
  <body>
    <h2>Instructor Dashboard</h2>
    <p>Showing events for instructor email {{email}}</p>
    <p><a href="https://calendar.google.com/calendar/u/1/r?cid=Y19hYjA0OGUyMTgwNWEwYjVmN2YwOTRhODFmNmRiZDE5YTNjYmE1NTY1YjQwODk2MjU2NTY3OWNkNDhmZmQwMmQ5QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20" target="_blank">Instructor Availability Calendar</a> events should be labeled as "{{name}}"</p>
    <p>It's currently {{now.strftime('%A %b %-d, %-I%p')}}</p>
		<h2>Scheduled classes:</h2>
    <table id="scheduled">
      <thead>
        <tr>
          <th>Class</th>
          <th>Registrants</th>
          <th>Supply State</th>
					<th>Pay Type</th>
          <th>Instructor Log</th>
        </tr>
      </thead>
      <tbody>
      {% for id, event in schedule %}
				{% if event['Neon ID'] %}
					{% include "instructor_class_tr.html" %}
				{% endif %}
      {% endfor %}
      </tbody>
    </table>
		<h2>Proposed classes:</h2>
    <table id="schedule">
      <thead>
        <tr>
          <th>Class</th>
          <th>Registrants</th>
          <th>Supply State</th>
          <th>Pay Type</th>
        </tr>
      </thead>
      <tbody>
      {% for id, event in schedule %}
				{% if not event['Neon ID'] %}
					{% include "instructor_class_tr.html" %}
				{% endif %}
      {% endfor %}
      </tbody>
    </table>
  </body>
  <script type="text/javascript">
    $("tr").each(function(i, tr) {
      let eid = $(tr).attr("id");
      if (!eid) {
        return;
      }
      console.log(eid);
      let a = $(tr).find(".attendees")[0];
      $.get("/instructor/class/attendees?id=" + eid).done(function(data) {
        console.log(data);
        console.log(a);
        $(a).html("");
        let attendees_for_log = [];
        for (let d of data) {
              $(a).append(`<li>${d.firstName} ${d.lastName} (${d.email}) ${d.registrationStatus} on ${d.registrationDate}</li>`);
              attendees_for_log.push(`${d.firstName} ${d.lastName} (${d.email})`);
        }
        let logbtn = $(tr).find(".log_submit");
        let log_url = logbtn.attr("href");
        logbtn.attr("href", log_url.replace("$ATTENDEE_NAMES", encodeURIComponent(attendees_for_log.join(", "))));
        logbtn.prop("disabled",false);
      }).fail(function(data) {
        console.log(data);
        $(a).html("Error (likely no event in Neon)");
      });
    });
    $("button").click(function(e) {
          let eid = $(e.target).parentsUntil(".schedule_class").parent().attr("data-airtableid");
          let cls = e.target.className;
          console.log(`Clicked button: ${cls}, airtable record ${eid}`);
          if (!eid) {
            return;
          }

          if (cls === 'publish' || cls == 'unpublish') {
            console.log(eid, cls);

            $.post("/instructor/class/update", {eid, pub: cls === 'publish'}).then(function(data) {
                  location.reload();
            });
          } else if (cls === 'log_submit') {
            window.location = e.target.getAttribute('href');
          } else if (cls === 'supply_req' || cls === 'supply_conf') {
            $.post("/instructor/class/supply_req", {eid, missing: cls === 'supply_req'}).then(function(data) {
                  location.reload();
            });
          } else if (cls === 'pay_on' || cls === 'pay_off') {
            $.post("/instructor/class/volunteer", {eid, volunteer: cls === 'pay_off'}).then(function(data) {
                  location.reload();
            });
          }
        });
  </script>
</html>
