<html>
  <head>
<style>
.account_data {
  width: 90%;
  padding: 15px;
  border: 1px grey solid;
  text-overflow: wrap;
}
</style>
  </head>
  <body>
    <h1>{{fullname}} ({{email}}, id {{neon_id}})</h1>
    <div>
      <ul>
        <li><a href="/instructor/events">Upcoming events and registrants</a></li>
        <li><a href="/instructor/class_selector">Select classes to teach</a></li>
        <li><a href="/instructor/hours">Submit hours (may take a while to load)</a></li>
      </ul>
    </div>
    <h4>Clearances</h4>
    <ul>
    {% for cf in neon_account['custom_fields']['Clearances']['optionValues'] %}
      <li>{{ cf['name'] }}</li>
    {% endfor %}
    </ul>
    <pre>{{neon_json}}</pre>
  </body>
</html>
