<html>
  <head>
    <script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
    <style>
      .schedule_class {
        padding: 5px;
        margin: 5px;
        border: 1px gray solid;
      }
    </style>
  </head>
  <body>
    <div id="schedule">
      {% for id, event in schedule %}
      <div id="{{id}}" class="schedule_class">
          <div>
          {{event['Name (from Class)'][0]}} ({{event['Capacity (from Class)'][0]}} seats)
          <ul>
            {% for d in event['Dates'] %}
            <li>{{d}}</li>
            {% endfor %}
          </ul>
          </div>
          <div class="status">
            {% if event['Confirmed'] %}
              Confirmed to teach
              <button class="unpublish">Mark as Unavailable</button>
            {% else %}
              <button class="publish">Confirm availability</button>
            {% endif %}
          </div>
      </div>
      {% endfor %}
    </schedule>
  </body>
  <script type="text/javascript">
    $("#schedule button").click(function(e) {
          let eid = $(e.target).parentsUntil(".schedule_class").parent().attr("id");
          let pub = e.target.className === "publish";
          console.log(eid, pub);

          $.post("/instructor/class_selector/update", {eid, pub}).then(function(data) {
                location.reload();
          });
        });
  </script>
</html>
