<html>
  <head>
<script
    src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
    crossorigin="anonymous"></script>
<style>
  form {
    padding: 10px;
  }
  form > div {
    padding: 5px; margin: 5px;
  }

</style>
  </head>
  <body>
    <h1>End of Shift Report</h1>
  <form>
    <div>
    <label for="name">Name</label>
    <input type="text" id="name"></input>
    </div>
    <div>
    <label for="status">Shop Project Status</label>
    <input type="textarea" id="status"></input>
    </div>
    <div>
    <label for="general">General Updates</label>
    <input type="textarea" id="general"></input>
    </div>
    <div>
    <label for="safety">Safety</label>
    <input type="textarea" id="safety"></input>
    </div>
    <div>
    <label for="lost_and_found">Lost and Found</label>
    <input type="textarea" id="lost_and_found"></input>
    </div>
    <div>
    <div id="captcha_text">
    </div>
    <label for="captcha">Type the highlighted word above:</label>
    <input type="text" id="captcha"></input>
    </div>
    <div class="action">
    <button type="submit" id="submit">Submit</button>
    </div>
  </form>

  <script type="text/javascript">
    $("#captcha_text").html("Test <strong>foo</strong>");
  </script>
  </body>
</html>

