name: Test Coverage Check

on:
  pull_request:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.8"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .
    - name: Checkout base branch
      run: git checkout $BASE_BRANCH
    - name: Run tests with coverage on the base branch
      run: TZ=US/Eastern python -m pytest --cov=my_package --cov-report=json:base_coverage.json
    - name: Checkout current branch
      run: git checkout $GITHUB_HEAD_REF
    - name: Run tests with coverage on current branch
      run: TZ=US/Eastern python -m pytest --cov=my_package --cov-report=json:current_coverage.json
    - name: Compare coverage
      run: python compare_coverage.py
